* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Montserrat', sans-serif;
}

.container {
    width: 1366px;
    margin: 0 auto;
    background-color: white;
    position: static;
}

.slider {
    display: block;
    height: 800px;
    background-image: url(img/slider-img.jpg);
    background-repeat: no-repeat;
    background-position: top;
    /*для кружочков "пагинации" слайдера */
    position: relative;
}

.padding-site {
    padding-left: 98px;
    padding-right: 98px;
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}

.header {
    float: none;
    padding-top: 63px;
    height: 30px;
}

.slider-text {
    margin-top: 283px;
}

.menu {
    float: right;
}

.menu-list {
    list-style: none;
    float: left;
}

.menu-link {
    color: #8c8c8c;
    font-size: 14px;
    font-weight: 300;
    text-decoration: none;
    text-transform: uppercase;
    padding: 10px 13px;
}

.menu-link:hover {
    color: #212121;
}

.menu-link-active {
    color: #212121;
    font-weight: 700;
    letter-spacing: 1.4px;
    border-bottom: 3px solid #212121;
}

.slider-trending {
    color: #43a047;
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
}

.slider-h2 {
    color: #212121;
    font-size: 62px;
    font-weight: 100;
    text-transform: uppercase;
}

.slider-content {
    color: #6c6c6c;
    font-size: 14px;
    font-weight: 300;
    width: 458px;
    margin-top: 20px;
    margin-bottom: 20px;
    line-height: 24px;
}

.slider-button {
    color: #212121;
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
    box-shadow: 0 2px 5px 1px rgba(33, 33, 33, 0.35);
    border-radius: 23px;
    background-color: #ffffff;
    width: 212px;
    height: 45px;
    line-height: 45px;
    text-align: center;
    display: inline-block;
    text-decoration: none;
    letter-spacing: 3.6px;
}

.pagination {
    position: absolute;
    bottom: 19px;
    width: 1170px;
    text-align: center;
}

.circle {
    width: 30px;
    height: 30px;
    display: inline-block;
    background-color: #c7c7c7;
    border-radius: 50%;
    margin: 5px;
}

.circle:hover {
    background-color: #212121;
}

.circle-active {
    width: 40px;
    height: 40px;
    background-color: #212121;
    margin-bottom: 0px;
}

.footer {
    height: 268px;
    /*    h = 384 - 116(top) - bottom */
    position: static;
    padding-top: 116px;
    background-color: rgb(247, 247, 247);
    /*
    background-image: url(img/footer-preView.jpg);
    background-repeat: no-repeat;
*/
}

.footer-contacts {
    float: left;
    width: 300px;
}

.footer-info {
    float: left;
    width: 480px;
}

.footer-info-subitem {
    width: 230px;
    float: left;
}

.footer-touch {
    float: right;
    width: 374px;
}

.footer-contacts-header {
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    color: #6c6c6c;
    padding-bottom: 15px
}

.footer-contacts-text {
    font-size: 14px;
    font-weight: 300;
    line-height: 22px;
    color: #212121;
}

.footer-contacts-text-upper-bold {
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1.1px;
    font-size: 14px;
    line-height: 22px;
    color: #212121;
    padding-bottom: 5px;
}

.footer-touch-eMailbox {
    display: table-row;
    vertical-align: bottom;
    float: left;
    width: 370px;
    height: 48px;
    margin-top: 22px;
    background-color: white;
    outline-width: 1px;
    outline-color: rgb(222, 222, 222);
    outline-style: solid;
}

.footer-touch-eMailbox-field {
    display: table-cell;
    font-size: 14px;
    color: #6c6c6c;
    line-height: 2px;
    border: 0;
    vertical-align: middle;
    height: 48px;
    padding-left: 22px;
}

.footer-touch-eMailbox-icon {
    float: right;
    display: inline-block;
    padding-top: 14px;
    padding-right: 14px;
    width: 1.2em;
    height: 1.2em;
    stroke-width: 0;
    stroke: currentColor;
    fill: currentColor;
}

.footer-line-1 {
    display: block;
    position: relative;
    height: 210px;
}

.footer-line-2 {
    display: block;
    position: relative;
}

.footer-copyright {
    float: none;
}

.footer-copyright-copy,
.footer-copyright-term {
    display: inline-block;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1.0px;
    font-size: 11px;
    line-height: 26px;
    color: #6c6c6c;
}

.footer-copyright-copy {
    float: left;
    width: 520px;
}

.footer-copyright-term {
    float: right;
}

.footer-copyright-icon {
    float: left;
}

.footer-copyright-icon td {
    width: 34px;
}